@model Horario.Domain.Concrete.EFDicaRepository

@{
    ViewBag.Title = "Dicas";
}

@foreach (var dic in Model.Dicas)
{
    <div class="well">
        <h3>
            <strong>@dic.Nomina</strong>
            <span class="pull-right label label-primary">@dic.Nombre @dic.Apellido_Paterno</span>
        </h3>
        <span class="lead">@dic.Correo</span>
    </div>
}
