@model Horario.Domain.Concrete.EFProfesorRepository


@{
    ViewBag.Title = "Profesores";
}

@foreach (var prof in Model.Profesors)
{
    <div>
        <h3>@prof.Nomina</h3>
        @prof.Nombre
        @prof.Apellido_Paterno
    </div>
}
